<header class="w3-container w3-center w3-content" id="home">
    <div id="title">        
        <img src=" {{ site.baseurl }}/assets/images/background.jpg" width="1000">
        <p>reynaldocv</p>
        <div class="icons">
            <!--<i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-github w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
            <i class="fa fa-leetcode w3-hover-opacity"></i>-->
            <a href="{{ site.baseurl }}/">
            <i class="fa fa-home w3-medium"></i>
            <a target="_blank" href="https://github.com/reynaldocv/">
            <i class="fa fa-github w3-medium"></i>
            </a>  
            <a target="_blank" href="https://www.linkedin.com/in/reynaldocv/" >
            <i class="fa fa-linkedin w3-medium"></i>
            </a>  
            <a target="_blank" href="https://leetcode.com/reynaldocv" >
            <i class="fa fa-code w3-medium"></i>
            </a> &nbsp &nbsp
             <a class="download" href="{{ site.baseurl }}/assets/documents/reynaldocv.pdf" download>
            <i class="fa fa-save w3-medium"> Download CV</i>
            </a>
           
        </div>
    </div>
    
</header>
<br>
           
