<nav class="w3-sidebar w3-bar-block w3-medium w3-hide-small w3-left">
  <!-- Avatar image in top left corner -->
    <div class="w3-center">
      <img src="{{ site.baseurl }}/assets/images/reynaldocv.jpg" style="width:40%; padding:10px">
      <br>
      <a href="{{ site.baseurl }}/" >
        <i class="fa fa-github-alt w3-medium"> reynaldocv </i>
      </a><br>reynaldocv <i class="fa fa-at w3-medium"></i> gmail <i class="fa fa-dot-circle-o w3-medium"></i> com<br>
      <b>Problem solver</b>
      <br>      
      <a target="_blank" href="https://github.com/reynaldocv/" >
        <i class="fa fa-github w3-medium"> reynaldocv </i>
      </a><br>  

      <a target="_blank" href="https://www.linkedin.com/in/reynaldocv/" >
          <i class="fa fa-linkedin w3-medium"> reynaldocv </i>
      </a><br>

      <a target="_blank" href="https://leetcode.com/reynaldocv" data_alt="leetcode">
          <i class="fa fa-code w3-medium"> reynaldocv </i>
      </a> 
    <br>
    
    <br>
            <a class="download" href="{{ site.baseurl }}/assets/documents/reynaldocv.pdf" download>
            <i class="fa fa-save w3-medium"> Download CV</i>
            </a>

       <br>     
    
    </div>
    <br>  
    
    {% assign sorted_sections = site.sections | sort: "sort_by_number" %}
    {% for section in sorted_sections %}     
    <a href="#{{section.id}}" class="w3-bar-item w3-button w3-padding-large w3-hover-blue">
        <i class="fa fa-caret-right w3-large"> {{section.short}} </i>
    </a>      
    {% endfor %}

    <div class="w3-center">
      <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=scWJqXfgvl_hBeho9yuD3ujhSkCG-2KgQ4yrbnuiWG8&cl=ffffff&w=a"></script>
      <a href="https://mapmyvisitors.com/web/1c3wg"  class="w3-bar-item w3-center w3-padding-large"  title="Visit tracker"><img src="https://mapmyvisitors.com/map.png?d=PXv_DOUM7V3MvrluwqQiTVUnKkzKCPtM41rMD5nFWnI&cl=ffffff" /></a>  
    </div>
    
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) 
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    {% for section in site.sections %}    
      <a href="#{{section.id}}" class="w3-bar-item w3-button" style="width:25% !important">{{section.title}}</a>
    {% endfor %}
  </div>
</div>-->
