<!DOCTYPE html>
<html>

{% include header.html %}



<body class="w3-whitesmoke">

{% include leftside.html %}

<div class="w3-padding-large" id="main">
  <!-- Header/Home -->

  {% include head.html %}

  {% assign sorted_sections = site.sections | sort: "sort_by_number" %}
  {% for section in sorted_sections %}    
      <div class="w3-padding-32 w3-content" id="{{section.id}}">
        <h2 class="w3-text-black">{{section.title}}</h2>   
        <hr style="width:200px">
        {{section.content}}     
      </div>
  {% endfor %}

  <!-- About Section -->
</div>
